.board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.case {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.black {
  background: black;
}
.jetonw {
  background: white;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}
.jetonb {
  background: black;
  outline: 2px groove white;
  box-shadow: 2px 2px 8px white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
}