.drapeaux {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 315px;
}

.d1, .d2, .d3 {
    display: flex;
    justify-content: space-between;
    width: 350px;
    height: 90px;
    background: rgb(255, 255, 255);
}
.d2 { justify-content: center; }


.drapeau1, .drapeau4, .drapeau5 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 90px;
    box-shadow: 0 0 15px black;
}
.drapeau1 {
    justify-content: center;
    background: rgb(255, 0, 0);
}
.drapeau1 .p1 {
    background: rgb(0, 26, 156);
    height: 30px;
}
.drapeau1 .p2 {
    background: rgb(255, 255, 255);
    height: 15px;
}


.drapeau2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 90px;
    background: rgb(255, 0, 0);
    box-shadow: 0 0 15px black;
}
.drapeau2 .p1, .drapeau2 .p2 {
    background: rgb(255, 255, 255);
    width: 18px;
}
.drapeau2 .p1 { height: 54px; }
.drapeau2 .p2 { height: 18px; }


.drapeau3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 90px;
    background: rgb(255, 0, 0);
    box-shadow: 0 0 15px black;
}
.d3p1, .d3p2 {
    display: flex;
    justify-content: space-between;
}
.d3p2 { align-items: end; }
.drapeau3 .p1, .drapeau3 .p2 {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    width: 65px;
    height: 35px;
}


.drapeau4 {
    justify-content: space-between;
    background: rgb(255, 255, 255);
}
.drapeau4 .p1 {
    background: rgb(255, 0, 0);
    height: 30px;
}
.drapeau4 .p2 {
    background: rgb(0, 150, 63);
    height: 30px;
}


.drapeau5 {
    justify-content: center;
    background: rgb(128, 167, 207);
}
.drapeau5 .p1 {
    background: rgb(0, 0, 0);
    height: 16px;
}
.drapeau5 .p2 {
    background: rgb(255, 255, 255);
    height: 4px;
}