.card {
    display: flex;
    align-items: end;
    width: 550px;
    height: 600px;
    background: rgb(237, 241, 242);
}
.card::before {
    position: absolute;
    content: '';
    z-index: 2;
    top: 6px;
    width: inherit;
    height: 150px;
    background: rgb(237, 241, 242);
}
.orange {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
    width: inherit;
    height: 450px; 
    background: linear-gradient(to bottom, rgb(255, 166, 0), rgb(255, 72, 0));
    border-top: 2px solid black;
}
.orange::before {
    position: absolute;
    content: '';
    z-index: 1;
    top: -80px;
    right: 195.5px;
    width: 154px;
    height: 154px;
    border-radius: 50%;
    background: black;
}
.card img {
    position: absolute;
    width: 150px;
    height: 150px;
}
.card .image {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    top: 80px;
    right: 250px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: rgb(237, 241, 242);
}

.card h2 {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
}
.card h3 {
    font-weight: 300;
}
.reseaux {
    display: flex;
    gap: 110.5px;
    width: 250px;
    height: 50px;
}
.reseaux img {
    width: 30px;
    height: 30px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background: black;
    border-radius: 5px;
    color: white;
    font: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

