.drapeaux {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    width: 285px;
    height: 295px;
}


.l1, .l2, .l3 {
    display: flex;
    justify-content: space-between;
    width: 285px;
    height: 94px;
    background: #fff;
}


.l1 .d1, .l1 .d2,
.l2 .d1, .l2 .d2,
.l3 .d1, .l3 .d2 {
    display: flex;
    width: 135px;
    height: 90px;
    border: 2px solid black;
}


.l1 .d1 {
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 0, 0);
}
.l1 .d1 .p1 { background: #000; height: 30px; }
.l1 .d1 .p2 { background: #ff0; height: 30px; }

.l1 .d2 {
    justify-content: space-between;
    background: #fff;
}
.l1 .d2 .p1, .l1 .d2 .p2 {
    width: 45px;
    height: 90px;
}
.l1 .d2 .p1 { background: #00f; }
.l1 .d2 .p2 { background: #f00; }


.l2 .d1, .l2 .d2 {
    justify-content: center;
    align-items: center;
}
.l2 .d1 {
    background: #fff;
}
.l2 .d1 .p1 {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: red;
}
.l2 .d2 {
    background: rgb(135, 23, 38);
}
.l2 .d2 .p1 {
    width: 135px;
    height: 10px;
    background: #fff;
}


.l3 .d1 {
    justify-content: end;
    background: #fff;
}
.l3 .d1 .p1 {
    width: 67.5px;
    height: 90px;
    background: #f00;
}
.l3 .d2 {
    flex-direction: column;
    justify-content: end;
    background: rgb(94, 145, 247);
}
.l3 .d2 .p1 {
    width: 135px;
    height: 45px;
    background: #ff0;
}
