body {
  font-family: Arial, sans-serif;
  background-color: white;
  padding: 5px;
}

.header {
  background-color: #d9f07d;
  width: inherit;
  height: 50px;
}

.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 15px 0;
}

.col {
  height: 180px;
  font-weight: bold;
}
.col1 {
  background-color: #d7d43b;
}
.col2 {
  background-color: #d2c108;
}

.footer {
    background-color: #4f6f1f;
    width: inherit;
    height: 20px;
}
